body {
    background-image: url("../static/background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-bg {
    background-color: pink;
}

.navbar-font {
    color: black;
    font-weight: bold;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 1rem;
}

.card-header {
    background-color: rgba(250, 195, 205, 0.7);
    font-weight: bold;
}

.card-body {
    background-color: rgba(255, 195, 205, 0.35);
}

.btn-pink {
    background-color: pink;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
}

.btn-pink:hover {
    box-shadow: 0 0 0 .25rem rgba(0, 255, 255, 0.35);
}

.btn-pink:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 255, 255, 0.35);
}

p {
    margin: 0;
    padding: 0;
}

.warning {
    color: red;
    text-align: center;
    font-weight: bolder;
}